@import "../variables";
$header-top-height: 2em;
$header-navbar-height: 4em;
$header-color: lightgray;

:host .fs-header {
  // header styles
  &-top {
    display: block;
    height: $header-top-height;
    background-color: $color-a;

    md-icon {
      color: $header-color;
    }
  }
  &-navbar {
    display: block;
    height: $header-navbar-height;
    background-color: $color-b;

    h1 a {
      color: $header-color;
    }

    ul {
      list-style: none;

      li {
        padding: 0 10px;
        a {
          color: $header-color;
        }
      }
    }
  }
}
/*
:host > article {
  color: $header-color;
}
*/
